@model CCIOfficeServiceManagementSystem.Models.LocalPasswordModel

<h3>Change password</h3>
 
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
         
            <fieldset style="border:groove 1px;width:180px;left:200px;">
                <legend>Change Password Form</legend>


                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                <br /><br />
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                <br /><br />
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                <br /><br />
                <input type="submit" value="Change password" />
            </fieldset>
            }
        
